@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


body {
    background-color:  $legoyellow;
    background-image: url('images/mainbackground.png');
    font-family: 'Rubik', sans-serif;
    font-size: $rootsize;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    background-color: $white;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
header a {
    width: 100%;
    max-width: 250px;
}
header a img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: contain;
}

#cart {
    position: relative;
    width: 100%;
    max-width: 50px;
}
#cart .label {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    color: $white;
    background-color: $red;
    position: absolute;
    top: -1.3rem;
    left: -1.3rem;
    box-sizing: border-box;
    padding-top: 5px;
}

nav {
    width: 100%;
    background-color: $red;
    display: flex;
}
nav a {
    color: $white;
    text-decoration: none;
    padding: .5rem 1rem;
    border-bottom: 5px solid $red;
    display: inline-block;
    text-transform: uppercase;
    transition: ease-in-out .4s;
}
nav a:hover {
    color: $legoyellow;
    border-color: $legoyellow;
}
nav a.active {
    background-color: $legoyellow;
    border-color: $black;
    color: $black;
}
nav a.active:hover {
    color: $red;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    justify-content: space-between;
}
main h2 {
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

article.product-card {
    background: $black;
    border-bottom: 1rem solid $green;
    width: 31%;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
    color: $white;
    margin-bottom: 2rem;
}
article.product-card > * {
    display: block;
    clear: both;
}
article.product-card img {
    width: 100%;
}
article.product-card a {
    color: $legoyellow;
    padding: .5rem 0;
    text-decoration: none;
}
article.product-card h3 {
    margin: .2rem 0 .5rem 0;
    text-transform: uppercase;
}
article.product-card button {
    background: $green;
    color: $white;
    font-family: 'Rubik', sans-serif;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
}

#cartview {
    width: 100%;
    max-width: 500px;
    background-color: $black;
    color: $white;
    position: absolute;
    right: 0;
    top: 70px;
    border-left: .5rem solid $green;
    border-bottom: .5rem solid $green;
    padding: 1rem;
    transition: ease-in-out .5s;
}

#cartview ul {
    list-style-type: none;
    padding: 0;
}
#cartview ul li {
    border-bottom: 1px solid $green;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    display: block;
    clear: both;
}
#cartview ul li > * {
    box-sizing: border-box;
    display: inline-block;
}

span.title {
    width: calc(100% - 9rem);
}
span.prize, span.quantity {
    width: 3rem;
}

button.delete {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $red;
    border: none;
    color: $white;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}